@media screen and (max-width:768px) {
    /* sidebar collapse at small screen width */
        div.sidebar-container{
            display:none;
            
        }
        div.body-container{
            width:fit-content;
        }
        div.sidebar-mobile-container{
            width:fit-content;
            padding:10px;
            margin:10px;
        }
    }

@media screen and (min-width:768px) {
    /* mobile friendly "side"bar (it's actually on the bottom) invisible at larger screen width */
        div.sidebar-mobile-container{
            display:none;
        }

    }

body{
    background-color:#e9eef3;
}

h1{
    text-align:center;
    color:#203867;
    font-size:50px;
}

h2{
    color:#111e38;
    font-size:34px;
}

h3{
    font-size:24px;
    color:#1a324d
}

h4{
    font-size:24px;
    color:#355b84
}

h6{
    text-align:center;
    color:rgb(59, 59, 59);
}

.body-container{
    background-color:#375e8b16;
    margin:20px;
    border-radius:4px;
}

.sidebar-container{
    /*background-color:lightgray;*/
    background-color:#275c9a1f;
    margin:20px;
    border-radius:4px;
}

.sidebar-list{
    list-style-type:none;
    margin:0;
    padding:0;
}

.sidebar-button{
    list-style-type:none;
    margin-top:10px;
}

.sidebar-link{
    color:#5785b5;
    text-decoration:none;
    font-weight:bold;
}

.sidebar-link:hover{
    color:#35a4f4;
}

.sidebar-mobile-container{
    /*background-color:lightgray;*/
    border-radius:4px;
}

.cat-image{
    width:100%;
    object-fit:contain;
    margin-top:10px;
    margin-bottom:10px;
}

.footer-text{
    text-align:center;
    
}

.img-aboutme{
    width:230px;
    margin:10px;
    float:right;
    /*object-fit:contain;*/
}