h1, h2, h3, h4, h5, h6
{
font-weight: normal;
font-family:source-serif-4;
margin-top:0px;
margin-bottom:0px;
}

h1{
    font-size:48px;
    text-align:center;
    margin-top:20px;
}

h2{
    font-size:36px;
}

a{
    font-family:lato;
    text-decoration:none;
}

.header-container{
    background-color:#1e5178;
    color:white;
    height:60px;
    margin-bottom:20px;
}

.link-container{
    display:inline-block;
    width:250px;
    vertical-align:top;
    margin-top:10px;

}

.body-container{
    display:inline-block;
    width:800px;
    vertical-align:top;
}

.body-paragraph-container{
    
}