body{
    background-color:#EDF2F9;
}


@media screen and (max-width:766px) {
    /* start of phone styles */
        div.sidebar-main{
            display:none;
            
        }
    }
@media screen and (min-width:766px) {
        div.bottom-bar{
            display:none;
            
        }
        
    }
@media screen and (min-width:576px) {
    div.menu-bar{
        display:none;
    }
}

@media screen and (max-width:574px) {
   
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

h1, h2, h3, h4, h5, h6
{
font-weight: normal;
font-family:source-serif-4;
margin-top:0px;
margin-bottom:0px;
}

h1{
    font-size:56px;
    text-align:center;
    margin-top:20px;
}

h2{
    font-size:42px;
    margin-bottom:10px;
}

h3{
    font-size:24px;
    margin-bottom:5px;
}

h2, h3{
    color:#052046;
}

p{
    font-family:Lato;
}

.menu-bar{
    height:40px;
    background-color:#c5cfdf;
}

.menu-container{
    padding-right:5px;
    float:right;
    cursor:pointer;
}

.bar1, .bar2, .bar3{
    width: 35px;
    height:5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1{
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3{
    transform: translate(0,-11px) rotate(45deg);
}

.nav-link{
    font-family:lato;
    font-size: calc(.75rem + 1vw);
    color:#405765;
    margin-right:15px;
}

.nav-link:hover{
    background-color:#c5ccd9;
}

.sidebar-link:visited, .sidebar-link:link{
    font-family:lato;
    font-size:18px;
    text-decoration:none;
    color:#5F728D;
}

.sidebar-link:hover{
    text-decoration:none;
    color:#2E4F7E;
}

.sidebar-list{
    list-style:none;
    padding-left:0;
}

.sidebar-main{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    min-height: 100vh;
}

.changelog-list{
    list-style-type:decimal;
}

.header-container{
    background-color:#5e7d90;
    color:white;
    height:66px;
}

.bg-bar{
    background-color:#dce3ee
}

.body-container{
    display:inline-block;
    width:800px;
    vertical-align:top;
    padding:20px;
    background-color:#fff;
}

.bottom-bar{
    background-color:#dce3ee;
    margin-bottom:10px;
    padding-left:2rem;
    padding-top:1rem;
    padding-bottom:1rem
}

footer{
    text-align:center;
    background-color:#dce3ee;
}

.music-container{
    display:inline-block;
    background-color:#EDF2F9;
    height:325px;
    margin:10px;
    padding:10px;
}

.music-title{
    font-family:lato;
}
